<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>인증코드</title>
</head>
<body>
<p style="color: #111827; font: 700 24px/30.72px 'Noto Sans', sans-serif">비밀번호를 분실하셨나요?<br/>
  <span style="color: #5FCC9B">인증</span>을 위해<br/>
  인증번호 입력을 부탁드립니다.
</p>

<div style="border: 1px solid #E5E7EB; border-radius: 8px; overflow: hidden;">
  <table style="border-collapse: collapse;">
    <tbody>
    <tr>
      <th style="background: #F4F2F0; padding: 14px 20px; border-right: 1px solid #E5E7EB">
        <p style="color:#111827; padding: 0; margin:0; width: 100px; text-align: left; font: 500 14px 'Noto Sans', sans-serif; ">인증번호</p>
      </th>
      <td style="width: 100%; padding: 14px 20px; ">
        <p style="padding: 0; margin:0; text-align: left; font: 700 14px 'Noto Sans', sans-serif; color: #5FCC9B;"><%= code %></p>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</div>
<footer style="background-color: #F9FAFB; padding: 24px 20px 52px; margin-top: 100px">
  <div style="max-width: 880px;margin: 0 auto; color: #6B7280; font: 400 14px/21px 'Noto Sans', sans-serif ">
    <p style="color: #6B7280;">
      본 메일은 발신전용이므로 회신되지 않습니다.<br/>
      문의사항이 있으시면 관리자를 홈페이지 내에서 문의 작성을 부탁드립니다.
    </p>
    <hr style="border: 1px solid #E5E7EB"/>

    <p style="color: #6B7280;">
      Copyright (C) 2025 LLIF. ALL RIGHTS RESERVED.
    </p>
  </div>
</body>
</html>
